@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;400;500;600&display=swap');

*,
*::after,
*::before,
body {
  color: #2a424e;
  font-family: MuseoModerno;
  oveflow-x: hidden;
}

.file__component {
  border: 1px solid #ccc;
}
::file-selector-button {
  background-color: #c44141;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  display: none;
}

::-webkit-scrollbar {
  display: none;
}

select {
  outline: none;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  border-right: 2em solid rgb(207, 27, 27);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  padding: 5px;
}

select {
  text-indent: 1px;
  text-overflow: '';
}
